In [1]:
total=0

for x in range(1,10):
    total +=x
print(total)

45

In [2]:
total=1
for x in range(15,101):
    if(x%2==0 and x%3==0):
        total *=x
print(total)

819798470064680730624000

In [1]:
x=10
for i in range(1,3):

    for j in range(1,6,1):
        print(x,end=" ")
        x +=1
    print("")

10 11 12 13 14
15 16 17 18 19

In [47]:

for i in range(1, 5):
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *

In [48]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [49]:
for i in range(1, 5):
    for j in range(4, i - 1,-1):
        print('*', end=' ')
    print()

* * * *
* * *
* *
*

In [50]:
for i in range(1, 5):
    for j in range(4, i - 1,-1):
        print(i, end=' ')
    print()

1 1 1 1
2 2 2
3 3
4

In [51]:
for i in range(1, 5):
    for j in range(4, i - 1,-1):
        print(j, end=' ')
    print()

4 3 2 1
4 3 2
4 3
4

In [52]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [53]:
for i in range(4,0,-1):
    for j in range(4, i - 1,-1):
        print(i, end=' ')
    print()

4
3 3
2 2 2
1 1 1 1

In [60]:
for i in range(10, 14):
    for j in range(14, i - 1,-1):
        print(i, end=' ')
    print()

10 10 10 10 10
11 11 11 11
12 12 12
13 13

In [5]:
n = int(input("Enter the maximum number of stars in the middle row: "))

lines = list(range(1, n + 1)) + list(range(n - 1, 0, -1))
    
for line in lines:
    for j in range(line):
        print("*", end=" ")
    print()

Enter the maximum number of stars in the middle row:  3

*
* *
* * *
* *
*

In [8]:
n = int(input("Enter the number for n: "))
# First row: 1 to n
for i in range(1, n + 1):
    print(i, end=" ")
print()

    # Following rows
for i in range(2, n + 1):
        # Spaces before the numbers
    for j in range(1, i):
        print(" ", end=" ")
        # The diagonal number
    print(i, end=" ")
        # Spaces between the diagonal and the last number
    for j in range(i + 1, n):
        print(" ", end=" ")
        # The last number in the row
    if i != n:
        print(n, end=" ")
    print()

Enter the number for n:  5

1 2 3 4 5
  2     5
    3   5
      4 5
        5

In [10]:
n = int(input("Enter the number for n: "))

# Print the top horizontal part of the T
for i in range(n):
    print('*', end=' ')
print()

# Print the vertical part of the T
for i in range(n - 1):
    for j in range(n):
        if j == n // 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Enter the number for n:  5

* * * * *
    *
    *
    *
    *

In [11]:
n = 4
chars = 'ABCD'

# Print the pattern
for i in range(n):
    for j in range(n):
        if j < i:
            print(' ', end=' ')
        else:
            print(chars[j], end=' ')
    print()

A B C D
  B C D
    C D
      D

In [13]:
n = 4  # Number of lines

for i in range(n):
    for j in range(n):
        if i == 0:
            print(chr(65 + j), end="")  # Print A, B, C, D
        elif i == 1:
            if j == 1 or j == 3:
                print(chr(65 + j), end="")  # Print B and D
            else:
                print(" ", end="")  # Print spaces
        elif i == 2:
            if j >= 2:
                print(chr(65 + j), end="")  # Print C and D
            else:
                print(" ", end="")  # Print spaces
        elif i == 3:
            if j == 3:
                print(chr(65 + j), end="")  # Print D
            else:
                print(" ", end="")  # Print spaces
    print()  # Move to the next line

ABCD
 B D
  CD
   D

In [16]:
n = 3  # Number of rows

for i in range(n):
    # Print leading spaces
    for j in range(n - i - 1):
        print(" ", end="")
    # Print stars
    for k in range(2 * i + 1):
        print("*", end="")
    # Move to the next line
    print()

  *
 ***
*****

In [17]:
n = 5  # Number of rows

for i in range(n, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*